h1{
    color: yellow;
    font: "Times New Roman";
    text-align: center;
    font-family: 'Zen Dots', cursive;

}
.centerImage{
    display: block;
    margin-left:auto;
    margin-right: auto;
}
body{
    background-color: #d2b48c;
}
p{
    margin: auto;
    text-align: left;
    text-indent:20px;
    max-width: 500px;
    font-family: 'Roboto', sans-serif;
}